<footer class="w-100 mt-auto">
  <div class="footer-content text-center">
    <p class="m-0">Crédit Time - 2023 / 2024 - Tous droits réservés</p>
    <p class="m-0">Téléphone : <a href="tel:0556728206">05 56 72 82 06</a>  |  Adresse : 38 Cours Gallieni, 40100 Dax</p>
  </div>
</footer>