@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  background: #ffffff;
  color: #000000
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%!important;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-weight: 600;
}

p {
  font-size: 0.8rem;
}

a {
  color: #000000!important;
  text-decoration: none!important;
}

a:hover {
  color: #223459!important;
  text-shadow: 0 0 5px #223459;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-inline: 15px;
}

section {
  width: 100%;
}

.logo,
.logo-text {
  filter: drop-shadow(0 0 3px #223459);
}

.logo-text {
  display: none;
}

.navbar-button {
  background: none;
  fill: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
}

.navbar-button:hover {
  fill: #223459;
  border: 2px solid #223459;
}

.navbar-extented {
  transform-origin: top;
  width: 100%;
  height: 0;
  opacity: 0;
  transform: scale(1, 0);
  transition: 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  background: linear-gradient(#ffeece, #ffd68a);
}

.navbar-opened {
  transform: scale(1, 1);
  opacity: 1;
  height: auto;
}

.navbar-inline {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.border-right {
  border-right: 1px solid #000000;
}

.nav-link {
  font-weight: 600;
  padding-inline: 10px;
}

.hidden {
  font-size: 0.01rem;
  color: #ffffff;
}

.container-dark {
  position: relative;
  width: 100%!important;
  max-width: none!important;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  box-shadow: 0 5px 10px #000000 ;
}

.container-img {
  width: 100%!important;
}

.container-text,
.container-title {
  min-width: 300px;
  max-width: 500px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-justified {
  text-align: justify;
}

.button {
  display: block;
  background: linear-gradient(#ffeece, #ffd68a);;
  color: #223459!important;
  width: 250px!important;
  padding-block: 10px;
  text-align: center;
  border-radius: 10px;
}

.button:hover {
  background: #c5d8ff;
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  .navbar-button {
    display: none;
  }

  .navbar-extented {
    display: none!important;
  }

  .navbar-inline {
    display: flex;
  }
}

@media screen and (min-width: 1300px) {
  .logo-text {
    display: inline;
  }
}

@media screen and (min-width: 1400px) {
  section {
    width: 80%;
    align-self: center;
  }
}