---
title: ACCUEIL
description: 
layout: layout.njk
style: /css/style.css
homeClass: active
---

{% include 'header.njk' %}

<h1 class="hidden">Crédit Time</h1>

<div class="container">
  <img class="container-img" src="/assets/horloge.jpg" alt="Credit Time Horloge" width="100vw" height="auto">
  <div class="centered">
    <h2 class="container-title mb-0 mb-sm-4">Votre courtier, expert de l'immobilier</h2>
    <div class="container-text">
      <p class="m-0">Nos clients bénéficient d'un accompagnement sur-mesure et de conseils adaptés à chacune des étapes de leur projet</p>
    </div>
  </div>
</div>

{% include 'footer.njk' %}